<div>
    <p>目前共计篇<%= site.posts.length %>文章</p>
    <% let last_time %>
    <% site.posts.sort('-date').each(function(post) { %>
        <% cur_time = post.date.year() %>
        <% if (last_time != cur_time) { %>
            <% if (last_time != null) { %>
                </ul>
            <% } %>
            <h3><%= post.date.year() %></h3>
            <ul>
            <% last_time = cur_time %>
        <% } %>
        <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
    <% }) %>
</div>