<div>
    <% let result = site.tags.findOne({name: page.tag}) %>
    <p>此标签下共计<%= result.posts.length %>篇文章</p>
    <h3><%= page.tag%></h3>
    <ul>
        <% result.posts.sort('-date').each(function(post) { %>
            <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
        <% })%>
    </ul>
</div>