@charset "utf-8";

/**
clear base style
*/
html {
    display: block;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}

/**
global style
*/

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
    font-size: 14px;
    background-color: #f4f5f5;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 680px;
    margin: 40px auto 0;
    background-color: #ffffff;
}

header, main, footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

main > *, footer > * {
    padding-left: 24px;
    padding-right: 24px;
}

img {
    max-width: 100%;
}

footer .info {
    font-size: 13px;
    color: #909090;
}

/**
nav style
*/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
    padding-bottom: 12px;
}

nav {
    padding-left: 12px;
    padding-right: 12px;
}

nav a {
    border-right: 1px solid hsla(0,0%,59.2%,.2);
    display: inline-block;
    width: 64px;
    font-size: 14px;
    text-align: center;
    border-bottom: none;
}

nav a:last-child {
    border: none;
}


/**
    Markdown style
*/

h1, h2, h3, h4, h5, h6 {
    margin-top: 35px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
}

h2:before, h3:before, h4:before, h5:before, h6:before {
    content: "#";
    display: inline-block;
    color: #3eaf7c;
    padding-right: 8px;
}

h2 {
    padding-bottom: 12px;
    font-size: 20px;
    border-bottom: 1px solid #ececec;
}

h3 {
    font-size: 16px;
    padding-bottom: 0;
}

p {
    margin: 22px 0;
    line-height: 1.6;
    letter-spacing: 1px;
}

a {
    color: #3eaf7c;
    border-bottom: 1px solid #3eaf7c;
}

blockquote {
    color: #666;
    padding: 1px 22px;
    margin: 22px 0;
    border-left: 4px solid #42b983;
    background-color: rgba(66,184,131,.1);
}

strong {
    color: #3eaf7c;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 28px;
}

ul li, ol li {
    padding-left: 6px;
    margin: 16px 0;
    line-height: 1.6;
    letter-spacing: 1px;
}

table {
    width: 100%;
    margin: 22px 0;
    line-height: 1.6;
    text-align: left;
    border: 1px solid #ececec;
}

td, th {
    padding: 8px 6px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

thead {
    background-color: #f6f6f6;
}

tr:nth-child(2n) {
    background-color: #fcfcfc;
}

/*
pagination style
*/
.pagination {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 24px;
    border-top: 1px solid hsla(0,0%,59.2%,.1);
}

.katex {
    font-size: 1rem;
    text-indent: 0;
    text-rendering: auto;
}

#instantclick-bar {
    background-color: #3eaf7c;
}

.shadow {
    box-shadow: 1px 1.75px 0 rgb(0 0 0 / 5%);
}

/**
article style
*/

article > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article > div:first-child img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

article > div:first-child > div {
    flex-grow: 1;
}

article > div:first-child > div {
    line-height: 1.6;
}

article .author {
    font-weight: 600;
}

article .time {
    color: #909090;
    font-size: 13px;
}

article .category, article .tags {
    display: block;
    text-align: right;
}

article .category a {
    border-bottom: none;
}

article .tags a {
    color: #909090;
    font-size: 13px;
    border-bottom: none;
}

article .tags a:hover {
    color: #3eaf7c;
}

article .tags a::after {
    content: ',';
}

article .tags a:last-child::after {
    content: '';
}

article img {
    border-radius: 4px;
}

article .video-container {
    margin: auto;
    width: 100%;
    height: 350px;
    
}

article .video-container > iframe {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 4px;
}

/**
gitalk
*/
#gitalk-container a {
    border: none;
}

@media (max-width: 672px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    article .video-container {
        height: 200px;
    }
} 
